project_id       = "your-project-id"
region           = "your-project-region"
github_username  = "your-github-username"
github_repo_name = "your-github-portfolio"
betterstack_api_token = "your-betterstack-token"
status_page_url       = "your-status-page"
heartbeat_url         = "your-hearbeat-url"