project_id          = "your-project-id"
region              = "your-project-region"
github_username     = "your-github-username"
github_repo_name    = "your-github-portfolio"
cronitor_telemetry  = "your-cronitor-telemetry"
status_page_url     = "your-status-page"
beat_url            = "your-cronitor-beat-url"